.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  margin: 20px;
}

/* Custom Node */
.custom-node {
  border-radius: 8px;
  width: 250px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.node-header {
  padding: 8px 16px;
  font-weight: bold;
  background-color: cyan;
  text-align: left;
  color: #212121;
}

.node-content {
  padding: 14px 16px;
  text-align: left;
  color: #212121;
}

/* Flow Builder */

.FlowBuilder-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.FlowBuilder-workspace {
  flex: 0.8;
  height: 80vh;
  width: 90%;
  border-radius: 3px;
  border: 1.5px solid #212121;
}

.Panels {
  flex: 0.2;
}

.NodesPanel-container,
.SettingsPanel-container {
  width: 400px;
  height: 100%;
  padding: 10px;
  background-color: #f7f7f7;
  border-right: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}

.SaveButton-wrapper {
  text-align: right;
}

.SaveButton {
  padding: 10px 20px;
  background-color: #0057ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.SaveButton:hover {
  background-color: #003cbf;
}

/* Nodes Panel */

.NodesPanel-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}

.NodesPanel-button:hover {
  background-color: #f0f0f0;
}

/* Settings Panel */

.SettingsPanel-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}
